body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

body.dark {
    background-color: #2c3e50;
    color: #ecf0f1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #3498db;
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#startBtn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #000;
    transition: all 0.3s ease;
}

#startBtn:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(3px);
    box-shadow: 0 0 0 #000;
}

#stopBtn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #000;
    transition: all 0.3s ease;
}

#stopBtn:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(3px);
    box-shadow: 0 0 0 #000;
}


#themeToggle {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #000;
    transition: all 0.3s ease;
}

#themeToggle:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(3px);
    box-shadow: 0 0 0 #000;
}


.songs button {
    margin: 10px;
    padding: 4px 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(251, 159, 73, 0.26);
}

#popupContent {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    justify-items: center;
    /* display: none; */
}


/* deteccao */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #0056b3;
}



#recordedVideo {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#player {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#status {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo levemente transparente */
    border: 1px solid #ccc; /* Borda cinza */
    padding: 10px;
    border-radius: 5px; /* Bordas arredondadas */
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombrinha sutil */
}

#time, #batteryStatus {
    display: flex;
    align-items: center;
    gap: 5px;
}

#time {
    font-size: 16px; /* Tamanho maior para o tempo */
    font-weight: bold;
}

#batteryStatus {
    font-size: 14px;
}


#options {
    text-align: center;
    margin-top: 20px;
}


button#themeToggle {
    margin-top: 10px;
}


#timeElapsed {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}
